<div class="title">
<h2>{{ section.settings.title }}</h2>
<div class="description">{{ section.settings.description }}</div>
</div>


{% schema %}
{
  "name": "Test Demo",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Quick links"
    },
    {
        "type": "inline_richtext",
        "id": "description",
        "default": "my <i>inline</i> <b>text</b>",
        "label": "Inline rich text"
    }
  ],
  "presets": [
    {
      "name": "test Demo"
    }
  ]
}
{% endschema %}
