<div class="title">
<h2>{{ section.settings.title }}</h2>
</div>


{% schema %}
{
  "name": "Test Demo",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Quick links"
    }
  ],
  "presets": [
    {
      "name": "test Demo"
    }
  ]
}
{% endschema %}
